<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:int="http://www.springframework.org/schema/integration"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:int-http="http://www.springframework.org/schema/integration/http"
	xmlns:int-xml="http://www.springframework.org/schema/integration/xml"
	xmlns:rabbit="http://www.springframework.org/schema/rabbit"
	xmlns:int-amqp="http://www.springframework.org/schema/integration/amqp"
	xsi:schemaLocation="http://www.springframework.org/schema/integration/http http://www.springframework.org/schema/integration/http/spring-integration-http.xsd
		http://www.springframework.org/schema/integration/amqp http://www.springframework.org/schema/integration/amqp/spring-integration-amqp-2.1.xsd
		http://www.springframework.org/schema/integration/xml http://www.springframework.org/schema/integration/xml/spring-integration-xml.xsd
		http://www.springframework.org/schema/integration http://www.springframework.org/schema/integration/spring-integration.xsd
		http://www.springframework.org/schema/rabbit http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

	<!-- A reference to the org.springframework.amqp.rabbit.connection.ConnectionFactory -->
	<rabbit:connection-factory id="connectionFactory" />

	<!-- Creates a org.springframework.amqp.rabbit.core.RabbitTemplate for access 
		to the broker -->
	<rabbit:template id="amqpTemplate" connection-factory="connectionFactory" />

	<!-- Creates a org.springframework.amqp.rabbit.core.RabbitAdmin to manage 
		exchanges, queues and bindings -->
	<rabbit:admin connection-factory="connectionFactory" />

	<int:channel id="inbound-channel" />

	<int-amqp:inbound-channel-adapter
		channel="inbound-channel" queue-names="queue.1.name" connection-factory="connectionFactory" />

<!-- 	<rabbit:listener-container concurrency="5" connection-factory="connectionFactory">
		<rabbit:listener ref="serviceActivatorBean" method="logXml" queue-names="queue.1.name" />
	</rabbit:listener-container>
 -->
	<int:service-activator input-channel="inbound-channel"
		id="serviceActivator" ref="serviceActivatorBean" method="logXml" />

	<bean id="serviceActivatorBean"
		class="com.goSmarter.amqp.service.Subscriber1ServiceActivator">
	</bean>

</beans>
